.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="/",title="Главная страница") ДТП
      .brand #{subtitle}
      #period
        span#from
        |  -
        span#to
      - if (typeof login != 'undefined')
        .pull-right#login-status
          span#login #{login}
          | &nbsp;
          a(href="/logout") выйти

