- var subtitle = "Main"

include head

.container
  ul
    li
      a(href="shipping")
        i.icon-plane
        | Shipping tx
    li
      a(href="atm")
        i.icon-shopping-cart
        | ATM tx

