!!!
html
  head
    base(href="/")
    title= title
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="vendor/css/bootstrap.min.css")
    link(rel="stylesheet", href="vendor/css/osm-default-style.css")
    link(rel="stylesheet", href="vendor/css/ui-lightness/jquery-ui-1.8.18.custom.css")

    script(src="vendor/js/jquery-1.7.1.min.js")
    script(src="vendor/js/jquery-ui-1.8.18.custom.min.js")
    script(src="vendor/js/jquery.tmpl.min.js")
    script(src="vendor/js/bootstrap.min.js")
    script(src="vendor/js/underscore-min.js")
    script(src="vendor/js/jquery.blockUI.js")
    script(src="vendor/js/date_format.js")

  body!= body