- var subtitle = "Shipping"
include head

.container
  .span5.offset3
    table.table.table-striped
      each country in countries
        tr
          td
            =country
          td
             a.btn.btn-primary(href="shipping/detail?country=" + country) Go