.chart {
    width: 400px;
    height: 250px;
}

#switchView {
    margin: auto;
    width: 870px;
}

#chartsView,#mapView {
    height: 550px;
}

#chartsList {
    margin: auto;
    width: 820px;
    list-style-type: none;
}

#chartsList li {
    display: inline;
    margin: 10px 0 0 10px;
    float: left;
}


.tabs-bottom { position: relative; }
.tabs-bottom .ui-tabs-panel { height: 140px; overflow: auto; }
.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; }
.tabs-bottom .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
.ui-tabs-selected { margin-top: -3px !important; }