body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#map
  height: 600px;

#tx-list
  height: 600px;
  overflow: auto;

.country-found
  background: #EDE275;
  color: blakc;

.not-found
  background: #FCDFFF;
  color: black;

hr
   margin: 0px !important;

#period
  float: left;
  padding: 8px 20px 12px;
  font-size: 17px;
  color: white;

#login-status
  padding: 8px 20px 12px;

#paths
  overflow: auto;